.dark {
	background-color: #2c3237 !important;
	color: white !important;
}

.menu {
	background-color: #2c3237 !important;
	color: white !important;
}

html,
body {
	background-color: #212529 !important;
}


.hero {
	height: 50vh;
	color: white !important;
}

.middle {
	align-items: center;
}

.text-center {
	text-align: center;
}

.hero-image {
	height: 45vw;
}

.mainButton {
	width: 250px !important;
}

.content-fit {
	width: fit-content !important;
}

.mr-10 {
	margin-right: 10px !important;
}

@media only screen and (max-width: 490px) {
	.mr-10 {
		margin-right: 0 !important;
	}
}

.pt-60 {
	padding-top: 60px !important;
}

.adjusted-width {
	width: 500px !important;
}

.justifyContent {
	display: flex !important;
	justify-content: center !important;
}

.pb-40 {
	padding-bottom: 50px;
}

.space-evenly {
	justify-content: space-evenly;
}

.mb-40 {
	margin-bottom: 50px;
}

.darker {
	background-color: #212529 !important;
	color: white !important;
	border: 0 !important;
	margin: 10px;
	box-shadow: #000000 0px 0px 10px !important;
}

.darker:hover {
	scale: 1.1;
}

.description > code {
	background-color: #3b3b3b !important;
}

.hero__plugins {
	box-shadow: #000000 0 0 10px !important;
}

.description>a {
	color: rgb(102, 219, 255) !important;
	text-decoration: underline !important;
}

.customButton {
	background-color: #212529 !important;
}

.wfull{
	width: 100%;
}
.codeblock{
	background-color: #212529;
	padding: 10px 20px 20px 25px;
	box-shadow: #2a2a2a 0 0 10px;
	font-family: monospace;
}
.text-left{
	text-align: left;
}